
Capstone V1.0/Library/ArtifactDB
Capstone V1.0/Library/CurrentLayout-default.dwlt
Capstone V1.0/Library/InspectorExpandedItems.asset
Capstone V1.0/Library/LastSceneManagerSetup.txt
Capstone V1.0/Library/PackageManager/ProjectCache
Capstone V1.0/Library/PackageManager/ProjectCache.md5
Capstone V1.0/Library/SceneVisibilityState.asset
Capstone V1.0/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Assembly-CSharp.dll
Capstone V1.0/Library/ScriptAssemblies/Cinemachine.dll
Capstone V1.0/Library/ScriptAssemblies/com.unity.cinemachine.editor.dll
Capstone V1.0/Library/ScriptAssemblies/Pinwheel.Polaris.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Pinwheel.Polaris.Runtime.dll
Capstone V1.0/Library/ScriptAssemblies/sc.fae.editor.dll
Capstone V1.0/Library/ScriptAssemblies/sc.fae.runtime.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.InputSystem.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.Mathematics.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.Mathematics.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.PlasticSCM.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.Rider.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.Searcher.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.TextMeshPro.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.Timeline.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.VisualStudio.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Capstone V1.0/Library/ScriptAssemblies/UnityEditor.UI.dll
Capstone V1.0/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Capstone V1.0/Library/ScriptAssemblies/UnityEngine.UI.dll
Capstone V1.0/Library/ShaderCache.db
Capstone V1.0/Library/ShaderCache/EditorEncounteredVariants
Capstone V1.0/Library/SourceAssetDB
Capstone V1.0/Library/ArtifactDB
Capstone V1.0/Library/ArtifactDB
Capstone V1.0/Library/CurrentLayout-default.dwlt
Capstone V1.0/Library/InspectorExpandedItems.asset
Capstone V1.0/Library/LastSceneManagerSetup.txt
Capstone V1.0/Library/PackageManager/ProjectCache
Capstone V1.0/Library/PackageManager/ProjectCache.md5
Capstone V1.0/Library/SceneVisibilityState.asset
Capstone V1.0/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Assembly-CSharp.dll
Capstone V1.0/Library/ScriptAssemblies/Cinemachine.dll
Capstone V1.0/Library/ScriptAssemblies/com.unity.cinemachine.editor.dll
Capstone V1.0/Library/ScriptAssemblies/Pinwheel.Polaris.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Pinwheel.Polaris.Runtime.dll
Capstone V1.0/Library/ScriptAssemblies/sc.fae.editor.dll
Capstone V1.0/Library/ScriptAssemblies/sc.fae.runtime.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.InputSystem.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.Mathematics.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.Mathematics.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.PlasticSCM.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.Rider.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.Searcher.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.TextMeshPro.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.Timeline.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.Timeline.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.VisualStudio.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/Unity.VSCode.Editor.dll
Capstone V1.0/Library/ScriptAssemblies/UnityEditor.TestRunner.dll
Capstone V1.0/Library/ScriptAssemblies/UnityEditor.UI.dll
Capstone V1.0/Library/ScriptAssemblies/UnityEngine.TestRunner.dll
Capstone V1.0/Library/ScriptAssemblies/UnityEngine.UI.dll
Capstone V1.0/Library/ShaderCache.db
Capstone V1.0/Library/ShaderCache/EditorEncounteredVariants
Capstone V1.0/Library/SourceAssetDB
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Capstone V1.0/Library/ArtifactDB
Capstone V1.0/Library/CurrentLayout-default.dwlt
Capstone V1.0/Library/InspectorExpandedItems.asset
Capstone V1.0/Library/LastSceneManagerSetup.txt
Capstone V1.0/Library/SceneVisibilityState.asset
Capstone V1.0/Library/ScriptAssemblies/Assembly-CSharp.dll
Capstone V1.0/Library/ScriptMapper
Capstone V1.0/Library/ShaderCache.db
Capstone V1.0/Library/ShaderCache/EditorEncounteredVariants
Capstone V1.0/Library/SourceAssetDB
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Capstone V1.0/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Capstone V1.0/obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
Capstone V1.0/ProjectSettings/TagManager.asset
Capstone V1.0/Library/ArtifactDB
Capstone V1.0/Library/ArtifactDB
